Source: better-exceptions
Section: devel
Priority: optional
Maintainer: Daniel Troeder <daniel@admin-box.com>
Build-Depends:
 debhelper (>> 7),
 dh-python,
 python-all,
 python3-all,
Standards-Version: 3.9.8

Package: python-better-exceptions
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
Provides: ${python:Provides}
Description: Pretty and more helpful exceptions in Python 2, automatically.
 .
 Makes exceptions for informative. For more information about
 better-exceptions, refer to:
 https://github.com/Qix-/better-exceptions

Package: python3-better-exceptions
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Provides: ${python3:Provides}
Description: Pretty and more helpful exceptions in Python 3, automatically.
 .
 Makes exceptions for informative. For more information about
 better-exceptions, refer to:
 https://github.com/Qix-/better-exceptions
